{
    "jid": "123456789@chat.codingame.com",
    "password": "password123",
    "host": "chat.codingame.com",
    "port": 5222,
    "muc": "conference.codingame.com",
    "groupchats": ["fr", "ru", "world"],
    "nickname": "Automaton2000",
    "blacklist": [],
    "data": "./data",
    "logs": "./logs",
    "power": 2,
    "minimum": {
        "soft": 3,
        "hard": 5
    },
    "maximum": {
        "soft": 25,
        "hard": 30
    }
}